@use "./variables.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tracker {
  border: 3px solid darken($color-cards, 35%);
  height: auto;
  display: flex;
  margin: 5px;
  flex-direction: column;
  background-color: $color-background;

  &__heading {
    text-align: center;
    padding: 20px;
    color: darken($color-cards, 40%);
    font-family: $font-main;
    font-weight: 400;
  }
}

@media screen and (min-width: 750px) {
  .tracker {
    margin: 15px;
    height: 100vh;
    &__heading {
      padding: 40px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .tracker {
    margin: 20px;
  }
}
